
#ad {
	background-color:#fff;
	background: url("../images/default.jpg") no-repeat scroll 0 top transparent;
    display: block;
    overflow: hidden;
    width: 980px;
    height: 250px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#banner {
    position: absolute;
    display: block;
    width: 980px;
    height: 250px;
    overflow: hidden;
}


.buttons {
    width: 980px;
    height: 250px;
    position: absolute;
    z-index: 99;
}

.button {
    background: none;
    border: medium none;
    height: 100%;
    left: 0;
	padding:0;
    position: absolute;
    top: 0;
    width: 100%;
	cursor:pointer;
}
















